<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Backtests Cryptos!">
        <meta name="author" content="Me!">
        <link rel="icon" href="static/logo.png">
        <title>Crypto Backtester</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <div class="center">
            <img src="static/logo.png" class="logo">
            <form action="/start_backtesting" method="post">
                <select name="ticker" class="dropdown">
                    <option value="default">Select a Crypto!</option>
                    <option value="ETH">Ethereum</option>
                </select>
                <input type="submit" class="button">
            </form>
            {% if message %}
            <p class="message">{{ message }}</p>
            {% endif %}
        </div>
    </body>
</html>